.backdrop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  right: 50%;
  transform: translate(50%, -50%);

  h1 {
    text-align: center;
    font-size: 3.4rem;
    color: #ffffff;
  }

  img {
    width: 20vw;
    margin: 2rem 0 0 0;
  }

  button {
    width: 13rem;
    height: 5.5rem;
    border-radius: 4.5rem;
    margin-top: 3rem;
    font-size: 2.5rem;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    background-image: linear-gradient(to right, #f197bd, #ed865d);
    border: none;
    transition: .3s;

    a {
      color: #ffffff;
    }

    &:hover {
      background-image: linear-gradient(to right, #e0257d, #de5a17);
      transform: scale(.9);
    }
  }
}

.footer {
  width: 21rem;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0);

  p {
    text-align: center;
    margin-top: .5rem;
    font-size: 1.2rem;
    color: #ffffff;
  }

  &-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      color: #ffffff;
      font-size: 2.2rem;
    }

    button {
      border: 0;
      color: #ffffff;
      font-family: 'Architects Daughter', cursive;
      font-size: 2.2rem;
      margin-left: .5rem;
      background-image: linear-gradient(to left, #f197bd, #ed865d);
      border-radius: 2rem 1rem 1rem 1rem;
      padding: .5rem;
      cursor: pointer;
      transition: .5s;

      &:hover {
        background-image: linear-gradient(to right, #f197bd, #ed865d);
      }
    }
  }
}
