.Start {
  .backdrop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    right: 50%;
    transform: translate(50%, -50%);

    h1 {
      text-align: center;
      font-size: 3.4rem;
      color: #ffffff;
    }

    .logo {
      width: 20vw;
      margin: 2rem 0 0 0;
    }

    .start {
      width: 13rem;
      height: 5.5rem;
      border-radius: 4.5rem;
      margin-top: 3rem;
      font-size: 2.5rem;
      color: #ffffff;
      outline: none;
      cursor: pointer;
      background-image: linear-gradient(to right, #f197bd, #ed865d);
      border: none;
      transition: .3s;

      a {
        color: #ffffff;
      }

      &:hover {
        background-image: linear-gradient(to right, #e0257d, #de5a17);
        transform: scale(.9);
      }
    }
  }


}


/***** Media Queries *****/
@media screen and (max-width: 768px) {
  .Start {
    .backdrop {
      h1 {
        font-size: 3rem;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .Start {
    .backdrop {
      h1 {
        font-size: 2.8rem;
      }

      .logo {
        width: 25vw;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .Start {
    .backdrop {
      h1 {
        width: 80vw;
        font-size: 2.7rem;
      }

      .logo {
        width: 35vw;
      }
    }
  }
}