.End {
  .home {
    position: absolute;
    top: 10%;
    left: 5%;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 0;
    margin-left: .5rem;
    border-radius: .5rem;
    background-image: linear-gradient(to left, #f197bd, #ed865d);
    transition: .5s;

    &:hover {
      background-image: linear-gradient(to right, #f197bd, #ed865d);
    }

    a {
      font-family: 'Architects Daughter', cursive;
      font-size: 2.2rem;
      color: #ffffff;
    }
  }


  .backdrop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    right: 50%;
    transform: translate(50%, -50%);

    h1 {
      width: 70vw;
      text-align: center;
      font-size: 3.4rem;
      color: #ffffff;
    }

    img {
      width: 20vw;
      margin: 2rem 0 0 0;
    }
  }
}


/***** Media Queries *****/
@media screen and (max-width: 768px) {
  .End {
    .home {
      top: 20%;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}


@media screen and (max-width: 576px) {
  .End {
    .backdrop {
      h1 {
        width: 80vw;
        font-size: 2.7rem;
      }

      img {
        width: 40vw;
      }
    }
  }
}