@font-face {
    font-family: "Yekan";
    src: url("../src/Assets/fonts/YekanBakh-Regular.ttf") format("truetype")
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Yekan";
}

html {
    font-size: 62.5%;
}


body {
    overflow: hidden;
}

a, a:hover {
    text-decoration: none;
}
