@font-face {
    font-family: "Yekan";
    src: url("./Assets/fonts/YekanBakh-Regular.ttf") format("truetype")
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Yekan";
}

html {
    font-size: 62.5%;
}

body {
    overflow: hidden;
}

<<<<<<< HEAD
a,
a:hover {
=======
body {
    overflow: hidden;
}

a, a:hover {
>>>>>>> c52ae45b23dfb49f178925c5e588cdceead1b6cd
    text-decoration: none;
}