.Background {
  position: relative;

  .bgc {
    width: 98.85vw;
    height: 99vh;
    z-index: -100;
    filter: blur(2.9rem);
  }

  .stepper {
    width: 30rem;
    height: .5rem;
    background-color: white;
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translate(50%, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    padding: .5rem;

    &-circle {
      padding: 1.2rem;
      border-radius: 50%;
      background-color: #d8d8d8;
      transition: .3s;
      z-index: 100;

    }

    &-color {
      width: 7%;
      height: 1.2rem;
      position: fixed;
      top: 8%;
      left: 3%;
      transform: translate(-50%, -10%);
      background-image: linear-gradient(to left, #b83b5e, #f08a5d);
      border-radius: 2rem;
      z-index: 1;
    }

    &-color-0 {
      width: 27.8%;
      height: 1.2rem;
      position: fixed;
      top: 8%;
      left: 13.8%;
      transform: translate(-50%, -10%);
      background-image: linear-gradient(to left, #b83b5e, #f08a5d);
      border-radius: 2rem;
      z-index: 1;
    }


    &-color-1 {
      width: 51%;
      height: 1.2rem;
      position: fixed;
      top: 8%;
      left: 25%;
      transform: translate(-50%, -10%);
      background-image: linear-gradient(to left, #b83b5e, #f08a5d);
      border-radius: 2rem;
      z-index: 1;
    }

    &-color-2 {
      width: 75%;
      height: 1.2rem;
      position: fixed;
      top: 8%;
      left: 38%;
      transform: translate(-50%, -10%);
      background-image: linear-gradient(to left, #b83b5e, #f08a5d);
      border-radius: 2rem;
      z-index: 1;
    }

    &-color-end {
      width: 101%;
      height: 1.2rem;
      position: fixed;
      top: 8%;
      left: 50%;
      transform: translate(-50%, -10%);
      background-image: linear-gradient(to left, #b83b5e, #f08a5d);
      border-radius: 2rem;
      z-index: 1;
    }
  }

  .st-0 {
    background-color: #f08a5d;
    animation: jump1 1s infinite;
  }

  .st-end {
    background-color: #f08a5d;
    animation: jump2 1s infinite;
  }

  .st-bg {
    background-color: #f08a5d;
  }

  @keyframes jump1 {
    0% {
      transform: translate(0, -10%);
      background-color: #f08a5d;
    }

    50% {
      transform: translate(0, -20%);
      background-color: #b83b5e;
    }

    100% {
      transform: translate(0, 0);
      background-color: #f08a5d;
    }
  }

  @keyframes jump2 {
    0% {
      transform: translate(0, -10%);
      background-color: #b83b5e;
    }

    50% {
      transform: translate(0, -20%);
      background-color: #f08a5d;
    }

    100% {
      transform: translate(0, 0);
      background-color: #b83b5e;
    }
  }
}